.join-container{
	width:70%;
	max-width:500px;
	background-color:none;
}

.join-container-body-input-field{
	margin:30px 0px;
}

.join-container-body-input-field-placeholder{
	font-family:Pretendard-Regular;
	color:#2f2f2f;
}

.join-container-body-input-field-placeholder[name="find"],
.join-container-body-input-field-placeholder[name="login"],
.join-container-body-input-field-placeholder[name="join"]{
	color:gray;
	display:flex;
	transition:0.2s;
}

.join-container-body-input-field-placeholder[name="find"]:hover{
	color:#f29100;
}

.join-container-body-input-field-placeholder[name="login"]:hover{
	color:#5d9528;
}

.join-container-body-input-field-placeholder[name="join"]:hover{
	color:#0059a5;
}

.join-container-body-input-field-input{
	display:block;
	width:100%;
	height:35px;
	border:none;
	outline:none;
	border-bottom:1px solid #f2f2f2;
	transition:0.2s;
}

.join-container-body-input-field-input:focus{
	display:block;
	height:35px;
	border:none;
	outline:none;
	border-bottom:1px solid #0059a5;
	text-indent:10px;
}

.join-container-body-input-field-input-button{
	width:100px;
	margin-left:5px;
}

.join-container-body-input-field-input:focus::placeholder{
	text-indent:10px;
	transition:0.2s;
	color:#0059a5;
}

.join-container-body-input-field-input[name="member-email-domain"],
.join-container-body-input-field-input[name="member-email"],
.join-container-body-input-field-input[name="member-email-verification-code"]{
	flex:1;
}

.join-container-body-input-field-placeholder-svg{
	width:12px;
	height:12px;
	display:block;
}

.join-container-body-input-field-input-button-svg{
	width:12px;
	display:block;
}

.join-container-body-input-field-input-button-placeholder{
	line-height:35px;
	margin-left:5px;
	font-family:Pretendard-Regular;
	color:gray;
}

.join-container-body-input-field-input-button{
	width:50px;
	display:flex;
	justify-content:space-around;
}

.join-container-body-input-field-input-button >.join-container-body-input-field-input-button-placeholder:hover{
	transition:0.2s;
}

.join-container-body-input-field-input-button[name="send"] >.join-container-body-input-field-input-button-placeholder:hover{
	color:#f0575f;
}

.join-container-body-input-field-input-button[name="verify"] >.join-container-body-input-field-input-button-placeholder:hover{
	color:#804996;
}

.join-container-body-input-field-input.selected{
	border-bottom:1px solid #f0575f;
}

.join-container-body-input-field-input.selected::placeholder{
	transition:0.2s;
	color:#f0575f;
}

.join-container-button{
	display:flex;
	background-color:rgba(128,128,128,0.1);
	border-radius:7px;
	padding:10px;
	color:#808080;
	justify-content:center;
}

.join-container-button > *{
	margin:0px 5px;
}

#login-button:hover{
	color:#5d9528;
	background-color:rgba(93, 149, 40,0.1);
}

#find-button:hover{
	color:#f09100;
	background-color:rgba(240, 145, 0,0.1);
}

#join-button:hover{
	color:#0059a5;
	background-color:rgba(0, 89, 165,0.1)
}