.manage-container{
	width:80%;
	max-width:800px;
}

.book-id, .book-status, .book-name, .book-quality, .book-price, .book-place, .book-create-time{
	padding:15px;
	color:#2f2f2f;
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.book-name{
	flex:1;
}

.manage-container-body-wrapper{
	margin:20px 0px;
	border-radius:7px;
	position:relative;
}

.manage-container-body-info-wrapper.hide{
	
}

.manage-container-body-wrapper:hover{
	background-color:rgba(128,128,128,0.1);
}

.manage-container-body-info-wrapper{
	display:flex;
}

.menu-wrapper{
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius:7px;
	background-color:rgba(0,0,0,0.75);
	position:absolute;
	top:0px;
	left:0px;
}

.book-id{
	color:2f2f2f;
}

.menu-wrapper-body{
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius:7px;
	overflow:hidden;
}

.menu-wrapper-body-button{
	border-radius:7px;
	padding:10px;
	margin:0px 10px;
	color:white;
}

.menu-wrapper-body-button:hover{
	color:#f05460;
}

.unregistered{
	color:#f05460;
}

.normal{
	color:#5d9528;
}

.transacting{
	color:#f29100;
}

.transacted{
	color:#0059a5;
}