/* 모달창 디자인 */

.modal{
	background-color:none;
	right:30px;
	top:30px;
	position:absolute;
	width:300px;
	flex-direction:column;
}

.modal-container{
	display:flex;
	margin-bottom:10px;
	flex-direction:column;
	border-radius:5px;
	overflow:hidden;
	opacity:0;
}

.modal-upper-container{
	display:flex;
	padding:5px;
}

.modal-upper-container-header{
	width:30px;
	height:30px;
	display:flex;
	justify-content:center;
	align-items: center;
	margin-right:10px;
}

.modal-upper-container-header-svg{
	height:70%;
	height:70%;
	display:block;
}

.modal-upper-container-body{
	flex:1;
}

.modal-upper-container-body-title{
	font-family:Pretendard-Regular;
	font-size:12px;
}

.modal-upper-container-body-subtitle{
	font-family:Pretendard-Regular;
	font-size:10px;
}

.modal-upper-container-footer{
	width:30px;
	height:30px;
	display:flex;
	justify-content:center;
	align-items: center;
	margin-left:10px;
}

.modal-upper-container-footer-svg{
	height:50%;
	height:50%;
	display:block;
}

.fail-modal-remaining-time-counter{
	width:0%;
	height:2px;
	background-color:#a43c41;
}

.success-modal-remaining-time-counter{
	width:0%;
	height:2px;
	background-color:#5d9528;
}

.info-modal-remaining-time-counter{
	width:0%;
	height:2px;
	background-color:#0059a5;
}






















.circle-progress-wrap{
	position: relative;
	width: 100%;
	height: 100%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.circle-progress{
	transform: rotate(-90deg);
}

.frame{
	fill: none;
	stroke: #ffffff;
	opacity:0;
}

/*
.toast-wrapper.fail .frame{
	stroke: #fdeeef;
}

.toast-wrapper.info .frame{
	stroke: #d9e7fd;
}

.toast-wrapper.success .frame{
	stroke: #eef4e9;
}

.toast-wrapper.alert .frame{
	stroke: #fef4e5;
}
*/

.bar{
	fill: none;
	stroke:white;
	stroke-linecap: round;
}

.toast-wrapper{
	height:30px;
	display:none;
	border-radius:7px;
	position:fixed;
	bottom:30px;
	opacity:0;
	background-color:rgba(0,0,0,0.75);
}



/*
.toast-wrapper.fail{
	
}

.toast-wrapper.info{
	
}

.toast-wrapper.success{
	
}

.toast-wrapper.alert{
	
}
*/



/*
.toast-wrapper.fail .toast-header{
	background-color:#fcdddf;
}

.toast-wrapper.info .toast-header{
	background-color:#bbd4fb;
}

.toast-wrapper.success .toast-header{
	background-color:#dfead4;
}

.toast-wrapper.alert .toast-header{
	background-color:#fce9cc;
}
*/

.toast-wrapper .toast-image{
	width:8px;
	height:8px;
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	filter: invert(100%) sepia(3%) saturate(7333%) hue-rotate(102deg) brightness(113%) contrast(99%);
}


/*
.toast-wrapper.fail .toast-image{
	
}

.toast-wrapper.info .toast-image{
	
}

.toast-wrapper.success .toast-image{
	
}

.toast-wrapper.alert .toast-image{
	
}

*/

.toast-header{
	position: relative;
	width:30px;
	height:100%;
	border-radius:7px;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-shrink: 0;
}

.toast-body{
	display:flex;
	justify-content:center;
	align-items:center;
	padding:0px 10px;
	flex:1;
}

.toast-message{
	color:white;
	font-size:9px;
}

.toast-footer{
	padding:0px 10px;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:12px;
}

.toast-close-button{
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	height:100%;
}

.toast-close-button-svg{
	width:8px;
	height:8px;
	display:block;
	filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(115deg) brightness(117%) contrast(106%);
}