/* 토스트 디자인 */

.circle-progress-wrap{
	position: relative;
	width: 100%;
	height: 100%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.circle-progress{
	transform: rotate(-90deg);
}

.frame{
	fill: none;
	opacity:0;
}

.bar{
	fill: none;
	stroke-linecap: round;
	display:none;
}

.toast-wrapper{
	height:30px;
	display:none;
	border-radius:7px;
	position:fixed;
	bottom:30px;
	opacity:0;
	z-index:200000;
}

/* 실패 */

.toast-wrapper.fail{
	background-color:rgba(240, 87, 95,0.15);
}

.toast-wrapper.fail .bar{
	stroke:rgba(240, 87, 95, 1);
}

.toast-wrapper.fail .toast-image, .toast-wrapper.fail .toast-close-button-svg{
	filter: invert(34%) sepia(99%) saturate(1034%) hue-rotate(326deg) brightness(113%) contrast(88%);
}





/* 성공 */

.toast-wrapper.success{
	background-color:rgba(93,149,40,0.15);
}

.toast-wrapper.success .bar{
	stroke:rgba(93,149,40,1);
}

.toast-wrapper.success .toast-image, .toast-wrapper.success .toast-close-button-svg{
	filter: invert(44%) sepia(83%) saturate(413%) hue-rotate(48deg) brightness(98%) contrast(82%);
}





/* 알림 */

.toast-wrapper.info{
	background-color:rgba(0,89,165,0.15);
}

.toast-wrapper.info .bar{
	stroke:rgba(0,89,165, 1);
}

.toast-wrapper.info .toast-image, .toast-wrapper.info .toast-close-button-svg{
	filter: invert(19%) sepia(99%) saturate(2167%) hue-rotate(193deg) brightness(93%) contrast(101%);
}




/* 경고 */

.toast-wrapper.alert{
	background-color:rgba(242,145,0,0.15);
}

.toast-wrapper.alert .bar{
	stroke:rgba(242,145,0, 1);
}

.toast-wrapper.alert .toast-image, .toast-wrapper.alert .toast-close-button-svg{
	filter: invert(72%) sepia(29%) saturate(6473%) hue-rotate(1deg) brightness(94%) contrast(103%);
}






.toast-wrapper .toast-image{
	width:8px;
	height:8px;
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.toast-header{
	position: relative;
	width:30px;
	height:100%;
	border-radius:7px;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-shrink: 0;
}

.toast-body{
	display:flex;
	justify-content:center;
	align-items:center;
	padding:0px 10px;
	flex:1;
}

.toast-wrapper .toast-message{
	color:#2f2f2f;
}

.toast-footer{
	padding:0px 10px;
	display:flex;
	justify-content:center;
	align-items:center;
}

.toast-close-button{
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	height:100%;
}

.toast-close-button-svg{
	width:8px;
	height:8px;
	display:block;
}