/* svg 색상 모음 */

.svg-blue{
	/*#0059a5*/
	filter: invert(19%) sepia(99%) saturate(2167%) hue-rotate(193deg) brightness(93%) contrast(101%);
}

.svg-orange{
	/*#f29100*/
	filter: invert(72%) sepia(29%) saturate(6473%) hue-rotate(1deg) brightness(94%) contrast(103%);
}

.svg-red{
	/*#a43c41*/
	filter: invert(29%) sepia(26%) saturate(1470%) hue-rotate(308deg) brightness(102%) contrast(94%);
}

.svg-light-blue{
	/*#0082f1*/
	filter: invert(41%) sepia(88%) saturate(3893%) hue-rotate(190deg) brightness(97%) contrast(101%);
}

.svg-lime{
	/*8ce13c*/
	filter: invert(80%) sepia(78%) saturate(429%) hue-rotate(33deg) brightness(91%) contrast(94%);
}

.svg-green{
	/*#5d9528*/
	filter: invert(51%) sepia(12%) saturate(2082%) hue-rotate(48deg) brightness(97%) contrast(99%);
}

.svg-purple{
	/*#804996*/
	filter: invert(35%) sepia(49%) saturate(627%) hue-rotate(238deg) brightness(90%) contrast(94%);
}

.svg-red{
	/*#f0575f*/
	filter: invert(45%) sepia(77%) saturate(3014%) hue-rotate(327deg) brightness(101%) contrast(88%);
}

.svg-gray{
	/*#989898*/
	filter: invert(26%) sepia(1%) saturate(2133%) hue-rotate(59deg) brightness(93%) contrast(76%);
}















/* 모달창 디자인 */

.modal{
	background-color:none;
	right:30px;
	top:30px;
	position:absolute;
	width:300px;
	flex-direction:column;
}

.modal-container{
	display:flex;
	margin-bottom:10px;
	flex-direction:column;
	border-radius:5px;
	overflow:hidden;
	opacity:0;
}

.modal-upper-container{
	display:flex;
	padding:5px;
}

.modal-upper-container-header{
	width:30px;
	height:30px;
	display:flex;
	justify-content:center;
	align-items: center;
	margin-right:10px;
}

.modal-upper-container-header-svg{
	height:70%;
	height:70%;
	display:block;
}

.modal-upper-container-body{
	flex:1;
}

.modal-upper-container-body-title{
	font-family:Pretendard-Regular;
	font-size:12px;
}

.modal-upper-container-body-subtitle{
	font-family:Pretendard-Regular;
	font-size:10px;
}

.modal-upper-container-footer{
	width:30px;
	height:30px;
	display:flex;
	justify-content:center;
	align-items: center;
	margin-left:10px;
}

.modal-upper-container-footer-svg{
	height:50%;
	height:50%;
	display:block;
}

.fail-modal-remaining-time-counter{
	width:0%;
	height:2px;
	background-color:#a43c41;
}

.success-modal-remaining-time-counter{
	width:0%;
	height:2px;
	background-color:#5d9528;
}

.info-modal-remaining-time-counter{
	width:0%;
	height:2px;
	background-color:#0059a5;
}