.register-container{
	width:70%;
	max-width:500px;
	background-color:none;
}

.register-container-body-input-field{
	margin:30px 0px;
}

.register-container-body-input-field-placeholder{
	font-family:Pretendard-Regular;
	color:#2f2f2f;
	font-size:12px;
	
}

.register-container-body-input-field-input{
	display:block;
	width:100%;
	height:35px;
	border:none;
	outline:none;
	border-bottom:1px solid #f2f2f2;
	font-size:12px;
	transition:0.2s;
}

.register-container-body-input-field-input:focus{
	display:block;
	height:35px;
	border:none;
	outline:none;
	border-bottom:1px solid #0059a5;
	font-size:12px;
	text-indent:10px;
}

.register-container-body-input-field-input:focus::placeholder{
	text-indent:10px;
	transition:0.2s;
	color:#0059a5;
}

.register-container-footer{
	display:flex;
	justify-content:center;
}

.register-container-footer-phase{
	font-size:12px;
	margin:0px 30px;
	height:35px;
	line-height:35px;
}

.register-container-footer-button{
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:rgba(128,128,128,0.1);
	height:35px;
	width:35px;
	padding:10px;
	border-radius:7px;
}

.register-container-footer-button-svg{
	width:12px;
	height:12px;
	display:block;
}

.register-container-footer-button-title{
	font-size:12px;
}

.register-container-body-input-field-input.selected{
	border-bottom:1px solid #f0575f;
}

.register-container-body-input-field-input.selected::placeholder{
	transition:0.2s;
	color:#f0575f;
}

.register-container-footer-button[name="prev"] .register-container-footer-button-svg{
	filter: invert(45%) sepia(77%) saturate(3014%) hue-rotate(327deg) brightness(101%) contrast(88%);
}

.register-container-footer-button[name="next"] .register-container-footer-button-svg{
	filter: invert(51%) sepia(12%) saturate(2082%) hue-rotate(48deg) brightness(97%) contrast(99%);
}

.register-container-footer-button[name="prev"]:hover{
	background-color:rgba(240,87,95,0.1);
}

.register-container-footer-button[name="next"]:hover{
	background-color:rgba(93,149,40,0.1);
}

#wrap{
	margin-top:20px;
}

#address-modal-buttons{
	margin-top:20px;
}

#open-address-modal-button, #close-address-modal-button{
	display:flex;
	align-items:center;
	border-radius:7px;
	background-color:rgba(128, 128, 128, 0.1);
	height:35px;
	justify-content:center;
}

#open-address-modal-button .register-container-body-input-field-placeholder,
#close-address-modal-button .register-container-body-input-field-placeholder{
	font-size:12px;
	color:#808080;
}

#open-address-modal-button:hover{
	background-color:rgba(93, 149, 40,0.1);
}

#open-address-modal-button:hover .register-container-body-input-field-placeholder{
	color:#5d9528;
}

#close-address-modal-button:hover{
	background-color:rgba(240, 84, 96,0.1);
}

#close-address-modal-button:hover .register-container-body-input-field-placeholder{
	color:#f05460;
}

#open-address-modal-button .register-container-body-input-field-input-svg{
	filter: invert(51%) sepia(12%) saturate(2082%) hue-rotate(48deg) brightness(97%) contrast(99%);
}

#close-address-modal-button .register-container-body-input-field-input-svg{
	filter: invert(45%) sepia(77%) saturate(3014%) hue-rotate(327deg) brightness(101%) contrast(88%);
}


.register-container-body-input-field-input-svg{
	width:12px;
	height:12px;
	display:block;
	margin-right:10px;
}

.register-container-body-input-field-input[name="book-description"]{
	resize:none;
	display:block;
	height:300px;
	font-size:12px;
	margin-top:20px;
}

#register-button{
	font-size:12px;
	display:flex;
	align-items:center;
	border-radius:7px;
	background-color:rgba(128,128,128,0.1);
	justify-content:center;
	height:35px;
	margin:80px 0px 20px 0px;
}

#register-button:hover{
	background-color:rgba(128, 73, 150, 0.1);
}

#register-button .register-button-title{
	color:#808080;
}

#register-button:hover .register-button-title{
	color:#804996;
}

.book-image-upload-container-header{
	margin-top:80px;
}

#book-image-add-button{
	border-radius:7px;
	font-size:12px;
	color:#808080;
	background-color:rgba(128, 128, 128, 0.1);
	width:100px;
	height:35px;
	display:flex;
	align-items:center;
	justify-content:center;
}

#book-image-add-button:hover{
	background-color:rgba(242, 145, 0, 0.1);
}

#book-image-add-button .book-image-add-button-svg{
	filter: invert(72%) sepia(29%) saturate(6473%) hue-rotate(1deg) brightness(94%) contrast(103%);
	width:12px;
	height:12px;
	margin-right:10px;
}

#book-image-add-button .book-image-add-button-placeholder{
	color:#808080;
}

#book-image-add-button:hover .book-image-add-button-placeholder{
	color:#f29100;
}

.book-image-upload-container-body{
	margin-top:40px;
	display:flex;
	justify-content:center;
	align-items:center;
	height:130px;
}

.book-image-wrapper{
	width:90px;
	height:90px;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0px 10px;
	position:relative;
	box-shadow: 5px 5px 5px -5px #333;
}

.book-image-label{
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	position:relative;
}

.book-image-added .book-image-thumbnail{
	width:100%;
	height:100%;
	display:block;
}

.book-image-not-added .book-image-thumbnail{
	width:20%;
	height:20%;
	display:block;
}

.book-image-input{
	display:none;
}

.book-image-delete-button{
	width:20px;
	height:20px;
	position:absolute;
	top:-20px;
	right:0px;
}

.book-image-delete-button-svg{
	width:100%;
	height:100%;
	filter: invert(45%) sepia(77%) saturate(3014%) hue-rotate(327deg) brightness(101%) contrast(88%);
}
