<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>사이드바</title>
</head>
<body>
	<div name="search-side" class="side close" th:fragment="fragment">
		<div class="side-container">
			<div class="side-container-button" onclick="switchSideBar('search-side')">
				<img class="side-container-button-svg" src="/svg/검색.svg">
			</div>
			<div class="side-container-header">서치 매니저</div>
			<div class="side-container-body">
				<div class="side-container-body-container">
					<div class="side-container-body-container-title">카테고리</div>
					<div style="display:inline-flex; flex-wrap: wrap; justify-content:center; align-items:center;">
						<label class="book-category-label">
							<input class="book-category-label-input" name="book-categories" type="checkbox" value="HUMANITIES"/>
							<img class="book-category-label-input-svg" src="/svg/인문학.svg">
							<span class="book-category-label-input-title">인문학</span>
						</label>
						<label class="book-category-label">
							<input class="book-category-label-input" name="book-categories" type="checkbox" value="POLITICS"/>
							<img class="book-category-label-input-svg" src="/svg/법.svg">
							<span class="book-category-label-input-title">정치/사회</span>
						</label>
						<label class="book-category-label">
							<input class="book-category-label-input" name="book-categories" type="checkbox" value="ECONOMICS" />
							<img class="book-category-label-input-svg" src="/svg/경제.svg">
							<span class="book-category-label-input-title">경제/경영</span>
						</label>
						<label class="book-category-label">
							<input class="book-category-label-input" name="book-categories" type="checkbox" value="NATURAL_SCIENCE" />
							<img class="book-category-label-input-svg" src="/svg/자연과학.svg">
							<span class="book-category-label-input-title">자연과학</span>
						</label>
						<label class="book-category-label">
							<input class="book-category-label-input" name="book-categories" type="checkbox" value="TECHNICAL_ENGINEERING" />
							<img class="book-category-label-input-svg" src="/svg/기술공학.svg">
							<span class="book-category-label-input-title">기술공학</span>
						</label>
						<label class="book-category-label">
							<input class="book-category-label-input" name="book-categories" type="checkbox" value="COMPUTER_ENGINEERING" />
							<img class="book-category-label-input-svg" src="/svg/컴퓨터공학.svg">
							<span class="book-category-label-input-title">컴퓨터공학</span>
						</label>
						<label class="book-category-label">
							<input class="book-category-label-input" name="book-categories" type="checkbox" value="ARTS_PHYSICAL_EDUCATION" />
							<img class="book-category-label-input-svg" src="/svg/예체능.svg">
							<span class="book-category-label-input-title">예체능</span>
						</label>
						<label class="book-category-label">
							<input class="book-category-label-input" name="book-categories" type="checkbox" value="FOREIGN_LANGUAGES" />
							<img class="book-category-label-input-svg" src="/svg/외국어.svg">
							<span class="book-category-label-input-title">외국어</span>
						</label>
						<label class="book-category-label">
							<input class="book-category-label-input" name="book-categories" type="checkbox" value="ETC" />
							<img class="book-category-label-input-svg" src="/svg/기타.svg">
							<span class="book-category-label-input-title">기타</span>
						</label>
					</div>
				</div>
				<div class="side-container-body-container">
					<div class="side-container-body-container-title">품질</div>
					<div style="display:inline-flex; flex-wrap: wrap; justify-content:center; align-items:center;">
						<label class="book-quality-label">
							<input class="book-quality-label-input" name="book-qualities" type="checkbox" value="A" />
							<img class="book-quality-label-input-svg" src="/svg/A급.svg">
							<span class="book-quality-label-input-title">A 급</span>
						</label>
						<label class="book-quality-label">
							<input class="book-quality-label-input" name="book-qualities" type="checkbox" value="B" />
							<img class="book-quality-label-input-svg" src="/svg/B급.svg">
							<span class="book-quality-label-input-title">B 급</span>
						</label>
						<label class="book-quality-label">
							<input class="book-quality-label-input" name="book-qualities" type="checkbox" value="C" />
							<img class="book-quality-label-input-svg" src="/svg/C급.svg">
							<span class="book-quality-label-input-title">C 급</span>
						</label>
						<label class="book-quality-label">
							<input class="book-quality-label-input" name="book-qualities" type="checkbox" value="D" />
							<img class="book-quality-label-input-svg" src="/svg/D급.svg">
							<span class="book-quality-label-input-title">D 급</span>
						</label>
						<label class="book-quality-label">

						</label>
						<label class="book-quality-label">

						</label>
					</div>
				</div>
				<div class="side-container-body-container">
					<div class="side-container-body-container-title">판매가격</div>
					<div id="book-price-value">0원 - 100000원</div>
					<div id="book-price-slider" name="book-price" min="0" max="100000"></div>
				</div>
				<div class="side-container-body-container">
					<div class="side-container-body-container-title">도서명</div>
					<input class="book-name-label-input" name="book-name" type="text" placeholder="도서명을 입력하세요."/>
				</div>
				<div class="side-container-body-container">
					<div class="side-container-body-container-title">출판사명</div>
					<input class="book-publisher-name-label-input" name="book-publisher-name" type="text" placeholder="출판사명을 입력하세요."/>
				</div>
				<div class="side-container-body-container">
					<div class="side-container-body-container-title">판매지역</div>
					<input class="book-detailed-place-label-input" name="book-detailed-place" type="text" placeholder="판매지역을 입력하세요."/>
				</div>
			</div>
			<div id="search-side-container-footer" class="side-container-footer">
				<div id="search-side-container-footer-search-button" name='search' class='search-side-container-footer-button'>
					<img class="search-side-container-footer-button-svg svg-green" src="/svg/검색.svg">
					<div class="search-side-container-footer-button-title">도서검색</div>
				</div>
				<div id="search-side-container-footer-reset-button" name='reset' class='search-side-container-footer-button'>
					<img class="search-side-container-footer-button-svg svg-red" src="/svg/리셋.svg">
					<div class="search-side-container-footer-button-title">초기화</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>